* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1rem;
  text-align: center;
  color: #404040;
}

h1 {
  font-size: 2.25rem;
  font-weight: 300;
  color: white;
  margin: 20px;
}

h1 + p {
  color: #f18119;
  font-weight: 900;
  font-size: 1.3125rem;
  text-transform: uppercase;
  margin: 0;
}

h2 {
  font-size: 1.3125rem;
  margin: 0;
}

h2 + p {
  color: #f18119;
  font-weight: 900;
  text-transform: uppercase;
  margin-top: 0;
}

.top-text {
  align-self: center;
  order: -1;
  margin: 0;
  border-top: 7px solid;
  color: #f18119;
  border-image: linear-gradient(to right, #ffa51d, #ff713b) 1;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  padding-top: 0.5em;
}

.top-text,
.fine-print {
  font-size: 0.625rem;
}

.container {
  display: flex;
  flex-direction: column;
}

.ad-part {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #404040;
  background-image: url(images/dark-ribs.jpg);
  background-position: center;
  background-size: cover;
  padding: 0 0.5em 2em;
  min-height: 50vh;
}

.form-part {
  padding: 2em 1em;
}

.ad-part > *,
.form-part > * {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.form {
  width: 80%;
  max-width: 300px;
}

input,
button {
  width: 100%;
  border-radius: 5px;
}

input {
  font-family: inherit;
  text-align: inherit;
  margin-bottom: 0.75em;
  padding: 0.25em;
  border: 1px solid #404040;
}

button {
  padding: 1em 1.5em;
  font-size: 0.6em;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 1px;
  border: 0;
  cursor: pointer;
}

.btn {
  background: linear-gradient(to right, #ffa51d, #ff713b);
  color: white;
  transform: scale(1);
  transition: transform 250ms;
}

.btn:hover,
.btn:focus {
  transform: scale(1.1);
}

@media (min-width: 570px) {
  .container {
    flex-direction: row;
    min-height: 100vh;
  }

  body {
    font-size: 1.125rem;
  }

  h1 {
    font-size: 3.5rem;
    margin: 0;
  }

  h2,
  h1 + p {
    font-size: 1.75rem;
  }

  .ad-part,
  .form-part {
    width: 50%;
  }

  .form-part {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
